*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("covidWorld.jpg");
    background-size: cover;
    background-repeat:no-repeat;
}
.Naslov{
    text-align: center;
    color: antiquewhite;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serifbody;
    margin-top: 3vh;
    font-size: 60px;
}
.flip-box {
    background-color: transparent;
    width: 300px;
    height: 350px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    border: none;
    margin: 10vh;
    display: inline-block;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    background-color:transparent;
    color: black;
    background-image: url("stat.jpeg");
    background-size: contain;
    background-repeat:no-repeat;
    text-align: center;
  }
  .flip-box-front .numbers{
    margin-top: 45vh;
    text-align: center;
  bottom: 0;
  left: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: antiquewhite;
  }
  
  
  .flip-box-back {
    background-color:transparent;
    color: white;
    transform: rotateY(180deg);
    text-align: center;
    
    
  }
  .flip-box-back .listEl{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: antiquewhite;
    font-size: 18px;
    
  }
  


  .flip-box1 {
    background-color: transparent;
    width: 300px;
    height: 350px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    border: none;
    margin: 10vh;
    display: inline-block;
  }
  
  .flip-box-inner1 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box1:hover .flip-box-inner1 {
    transform: rotateY(180deg);
  }
  
  .flip-box-front1, .flip-box-back1 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front1 {
    background-color:transparent;
    color: black;
    background-image: url("pros.jpg");
    background-size: 450px;
    background-repeat:no-repeat;
  }
  .flip-box-front1 .pros{
    margin-top: 45vh;
    text-align: center;
  bottom: 0;
  left: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: antiquewhite;
  }
  
  .flip-box-back1 {
    background-color:transparent;
    color: white;
    transform: rotateY(180deg);
  }
  .flip-box-back1 .listEl{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: antiquewhite;
    font-size: 18px;
  }

  .flip-box2 {
    background-color: transparent;
    width: 300px;
    height: 350px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    border: none;
    margin: 10vh;
    display: inline-block;
  }
  
  .flip-box-inner2 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box2:hover .flip-box-inner2 {
    transform: rotateY(180deg);
  }
  
  .flip-box-front2, .flip-box-back2 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front2 {
    background-color:transparent;
    color: black;
    background-image: url("kriza2.jpg");
    background-size: 47vh;
    
    background-repeat:no-repeat;
  }
  .flip-box-front2 .crisis{
    margin-top: 45vh;
    text-align: center;
  bottom: 0;
  left: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: antiquewhite;
  }
  
  .flip-box-back2 {
    background-color:transparent;
    color: white;
    transform: rotateY(180deg);
  }
  .flip-box-back2 .listEl{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: antiquewhite;
    font-size: 18px;
  }
  .masterBox{
white-space: nowrap;
margin-left:13vh;
margin-right:10vh;
  }
.container{
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 45px;
  background-color: darkorange;
  margin-left: 10vh;
  margin-right: 10vh;
  transition:top ease .5s;
  top:0;
  position: relative;
}
.container:hover{
  top: -30px;
}
.container1,.container2,.container3,.container4,.container4,.container5{
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 45px;
  margin-left: 10vh;
  margin-right: 10vh;
  margin-top: 10vh;
  transition:top ease .5s;
  top:0;
  position: relative;
}
.container1{
  background-color:slategray;
}
.container1:hover{
  top: -30px;
}
.container2{
  background-color: darkorange;
}
.container2:hover{
  top: -30px;
}
.container3{
  background-color:slategray;
}
.container3:hover{
top: -30px;
}
.container4{
  background-color: darkorange;
}
.container4:hover{
  top: -30px;
  }
.container5{
  background-color: slategray;
  margin-bottom: 1vh;
}
.container5:hover{
  top: -30px;
}
.flip-box3 {
  background-color: transparent;
  width: 300px;
  height: 350px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  border: none;
  margin: 10vh;
  display: inline-block;
}

.flip-box-inner3 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box3:hover .flip-box-inner3 {
  transform: rotateY(180deg);
}

.flip-box-front3, .flip-box-back3 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front3 {
  background-color:transparent;
  color: black;
  background-image: url(testingStudents.jpg);
  background-size: 450px;
  background-repeat:no-repeat;
  text-align: center;
}
.flip-box-front3 .numbers{
  margin-top: 45vh;
  text-align: center;
bottom: 0;
left: 0;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: antiquewhite;
}


.flip-box-back3 {
  background-color:transparent;
  color: white;
  transform: rotateY(180deg);
  text-align: center;
  
  
}
.flip-box-back3 .listEl{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: antiquewhite;
  font-size: 18px;
  
}



.flip-box4 {
  background-color: transparent;
  width: 300px;
  height: 350px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  border: none;
  margin: 10vh;
  display: inline-block;
}

.flip-box-inner4 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box4:hover .flip-box-inner4 {
  transform: rotateY(180deg);
}

.flip-box-front4, .flip-box-back4 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front4 {
  background-color:transparent;
  color: black;
  background-image: url("Child_labour.jpg");
  background-size: contain;
  background-repeat:no-repeat;
}
.flip-box-front4 .pros{
  margin-top: 45vh;
  text-align: center;
bottom: 0;
left: 0;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: antiquewhite;
}

.flip-box-back4 {
  background-color:transparent;
  color: white;
  transform: rotateY(180deg);
}
.flip-box-back4 .listEl{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: antiquewhite;
  font-size: 18px;
}

.flip-box5 {
  background-color: transparent;
  width: 300px;
  height: 350px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  border: none;
  margin: 10vh;
  display: inline-block;
}

.flip-box-inner5 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box5:hover .flip-box-inner5 {
  transform: rotateY(180deg);
}

.flip-box-front5, .flip-box-back5 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front5 {
  background-color:transparent;
  color: black;
  background-image: url("PlaygroundClosed.jpg");
  background-size: 400px;
  
  background-repeat:no-repeat;
}
.flip-box-front5 .crisis{
  margin-top: 45vh;
  text-align: center;
bottom: 0;
left: 0;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: antiquewhite;
}

.flip-box-back5 {
  background-color:transparent;
  color: white;
  transform: rotateY(180deg);
}
.flip-box-back5 .listEl{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: antiquewhite;
  font-size: 18px;
}
.masterBox1{
white-space: nowrap;
margin-left:13vh;
margin-right:10vh;
}

 

  